.header-bg {
    background-color: #fff9f4;
}
h1 {
    font-family: "Bebas Neue", cursive;
}
p {
    font-family: "Roboto", sans-serif;
}
.fs-nike {
    font-size: 80px;
}
.highlight-color {
    color: #fa804c;
}
button {
    background-color: #3d4ff3;
    width: 170px;
    height: 60px;
    border: none;
}
.p-bottom {
    padding-bottom: 150px;
}
