.header-bg {
    background-color: #fff9f4;
}
h1 {
    font-family: "Bebas Neue", cursive;
}
p {
    font-family: "Roboto", sans-serif;
}
h5 {
    font-family: "Roboto", sans-serif;
}
.fs-nike {
    font-size: 80px;
}
.fs-shoes {
    font-size: 48px;
}
.highlight-color {
    color: #fa804c;
}
.img-bg-color {
    background-color: #f1f1f1;
}
button {
    background-color: #3d4ff3;
    width: 170px;
    height: 60px;
    border: none;
}
.p-bottom {
    padding-bottom: 150px;
}
.price {
    font-size: 36px;
}
.bg-body-color {
    background-color: #e5e5e5;
}
